@font-face {
  font-family: "beyond";
  src: local("beyond"), url(./fonts/Beyond-Wonderland.ttf) format("truetype");
}
@font-face {
  font-family: "western";
  src: local("western"), url(./fonts/Western-Bang-Bang.woff) format("truetype");
}
