.home > header {
  background-image: url(./images/home.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 400px;
  overflow-y: auto;
}
.thing-to-do {
  width: 225px;
  height: 500px;
  color: wheat;
  background-image: url(./images/paper2.jpg);
  background-color: red;
}
