@media screen and (max-width: 800px) {
  .nav-btn {
    display: inline-block;
    position: absolute;
    right: 10px;
    width: 50px;
    z-index: 3;
    height: 50px;
    background-color: #fcdd90;
    border: 1px lighten($dark-brown, 20) solid;
    cursor: pointer;
    transition: 500ms;
  }
  .nav-btn:hover {
    background-color: #ffd66f;
    transition: 500ms;
  }
  .nav-item-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    transform: translateY(-160px);
    background: linear-gradient(120deg, #eee2c3, #d3c4a2);
    width: 100%;
    position: absolute;
    z-index: -1;
  }
  .nav-item-open {
    width: 100%;
    position: absolute;
    top: 65px;
    transform: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    background-image: url(./images/navbar.jpg);
    background-size: cover;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  .company-name {
    display: none;
  }
  .nav-bar {
    justify-content: space-between;
  }
  .main-container {
    overflow-y: auto;
  }
}
@media screen and (max-width: 900px) {
  .nav-item-list > li > a {
    font-size: 33px;
  }
}
