.board {
  background: url(./images/wood.jpg);
  /* border: 15px url(./images/steel.jpg) solid; */
  border: solid 6px;
  border-image: url(./images//steel.jpg) 50;
  width: 80%;
  height: 90%;
  display: grid;
  justify-content: center;
  grid: repeat(115, 270px) / repeat(auto-fill, 200px);
  position: relative;
  overflow: scroll;
  padding-top: 40px;
}
.board::-webkit-scrollbar {
  display: none;
}
.poster {
  transition: 300ms;
  font-family: beyond, serif;
  color: rgb(92, 22, 22);
  background-image: url(./images/poster1.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  > h3 {
    font-size: 25px;
    font-weight: 100;
  }
  > h1 {
    font-family: western, serif;
    font-weight: 100;
    font-size: 39px;
    position: relative;
  }
  h1::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: rgb(92, 22, 22);
    top: 100%;
    transform: translateY(-100%);
    left: 0;
  }
  > * {
    margin: 0 15px 0 0;
  }
}
.poster-img {
  width: 60%;
  /* filter: opacity(0.8) grayscale(70%); */
  filter: opacity(0.9) grayscale(30%);
  mask-image: -webkit-radial-gradient(
    center,
    ellipse farthest-corner,
    (rgba(0, 0, 0, 1)),
    (rgba(0, 0, 0, 0))
  );
}
.poster:hover {
  filter: brightness(1.2);
  transition: 300ms;
}

.search {
  font-family: beyond, serif;
  position: absolute;
  height: 30px;
  width: 250px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  background-color: #e1d3b3;
  border: solid 6px;
  border-top: none;
  border-image: url(./images//steel.jpg) 50;
}
