.quotes-main {
  width: 100vw;
  min-height: 1000px;
  display: flex;
  justify-content: center;
}
.quotes {
  width: 80%;
  margin: 25px 0 0 0;
  padding: 2% 0% 12% 0%;
  min-height: 100px;
  display: grid;
  grid: repeat(auto-fill, 250px) / 1fr 1fr 1fr;
  position: relative;
  box-sizing: border-box;
  background-image: url(./images/wood.jpg);
  background-position: center;
}
.photo {
  width: 80px;
  margin-left: 5px;
  margin-right: 10px;
  opacity: 0.7;
  filter: grayscale(80%);
  mask-image: -webkit-radial-gradient(
    center,
    ellipse farthest-corner,
    (rgba(0, 0, 0, 1)),
    (rgba(0, 0, 0, 0))
  );
}
.person {
  min-width: 200px;
  max-width: 350px;
  display: flex;
  align-items: center;
  background-image: url(./images/paper2.jpg);
  background-position: center;
  background-size: cover;
  color: black;
  font-family: beyond;
  font-style: italic;
  font-size: 22px;
  box-shadow: 2px 2px 5px black;
  padding: 25px;
  transition: 300ms;

  * {
    pointer-events: none;
  }
  > div {
    display: flex;
    flex-direction: column;
    > div {
      h5 {
        font-weight: 100;
      }
    }
  }
}

.person:hover {
  transition: 500ms;
  box-shadow: 8px 8px 5px black;
  filter: brightness(1.06);
}
section {
  position: relative;
}
