* {
  margin: 0;
  padding: 0;
}

@import "./styles/fonts";
@import "./styles/paperPolygon";

body {
  /* background-image: url(./images/stone.jpg); */
  background-color: rgb(63, 17, 17);
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
.nav-bar {
  background: linear-gradient(120deg, #eee2c3, #d3c4a2);
  background-size: cover;
  height: 60px;
  font-size: 40px;
  color: rgb(112, 29, 29);
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 2;
  > h4 {
    font-family: beyond, serif;
    font-weight: 100;
    font-size: 55px;
  }
  > ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 35px;
  }
}
.nav-bar:after {
  background: linear-gradient(rgb(194, 0, 0), rgb(138, 0, 0));
  position: absolute;
  content: "";
  height: 6px;
  right: 0;
  left: 0;
  top: 100%;
}
.nav-item-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.nav-btn {
  display: none;
}

.main-container {
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

@import "./styles/media";
@import "./styles/poster";
@import "./styles/displayPoster";
@import "./styles/quotes";
